@model PizzaWorld.Client.Models.CustomerViewModel

@{
  ViewBag.Title = "Customer - Home";
  Layout = "_Layout";
  TempData.Put("Customer",Model.Customer);
}

<section>
  <h2>Welcome @Model.Name !</h2>
  <p>This is the customer home page</p>
</section>

@Html.Partial("OrderChooseStore", Model)
