@model PizzaWorld.Client.Models.OrderViewModel

@{
  ViewBag.Title = "OrderPlaced";
  Layout = "_Layout";
}

<section>
<h2>Order successfully placed!</h2>
<p>Thank you @Model.CustomerName !</p>
</section>

