@model PizzaWorld.Client.Models.OrderViewModel

@{
  ViewBag.Title = "Order - Checkout";
  Layout = "_Layout";
}

<section>
  <h2>Thank you @Model.CustomerName!</h2>
  <p>The order has been successfully placed!</p>
  <p>Thank you for shopping with us!</p>
</section>

