@model PizzaWorld.Client.Models.OrderViewModel

@{
  ViewBag.Title = "Order - Checkout";
  Layout = "_Layout";
}

<section>
  <h2>Thank you @Model.CustomerName!</h2>
  <p>The order has been successfully placed!</p>
  <p>Thank you for shopping with us!</p>
  <div class="card text-center">
        <div class="card-body justify-content-center align-self-center">
            <h5 class="card-title">Check Order History</h5>
            <p class="card-text"></p>
            <a class="btn btn-primary" asp-area="" asp-controller="Customer" asp-action="CustomerOrderHistory">Order History</a>
        </div>
   </div>
</section>

