@{
    ViewData["Title"] = "Pizza World";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Elmer's Pizza World</h1>
    <p>This should be populated with promotional informations.</p>
</div>
